# Running "docker-compose up" (active process)
# or "docker-compose start" (background process)
# will setup our development database
#
# One can connect to it using your DB client
# (IntelliJ, DataGrip, pqadmin, psql, ...),
# using the following parameters (see: application.properties):
#   url = jdbc:postgresql://localhost:15432/bep2-huland-casino
#   username = bep2-huland-casino
#   password = bep2-huland-casino
version: "3.7"
services:
  db:
    image: postgres
    ports:
      # This means you can connect to 'localhost:15432' from your computer
      # and it will patch it through to the container-port 5432
      - "15432:5432"
    environment:
      - POSTGRES_PASSWORD=admin
    volumes:
      # Required volume: creates the initial db and user
      - "./development/db:/docker-entrypoint-initdb.d"
      # Optional volume: saves data between docker runs
      - "./data:/var/lib/postgresql/data"
